<nav class="bg-gray-800 text-white">
    <div class="container mx-auto px-4">
        <div class="flex items-center justify-between h-16">
            <div class="flex-shrink-0">
                <a class="text-2xl font-bold" href="/">DutyApp</a>
            </div>
            <div>
                <a class="text-lg mx-2" href="/">Home</a>
                <a class="text-lg mx-2" href="/groups">Groups</a>
                <a class="text-lg mx-2" href="/tasks">Tasks</a>
            </div>
        </div>
    </div>
</nav>
